<h1></h1>
<form action="/results">
  <div class="form-group">
    <label>Sides</label>
    <input id="side_a" name="side_a" class="form-control" type="text">
    <input id="side_b" name="side_b" class="form-control" type="text">
    <input id="side_c" name="side_c" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
